<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hossein.shoppinglistapp">

    <application>
        <activity android:name="com.hossein.shoppinglisttesting.HiltTestActivity"
            android:exported="false"/>
    </application>

</manifest>